// ARTICULOS

@mixin titulos{
    text-align: center;
    font-weight: bold;
    text-shadow: 3px 3px 3px rgb(252, 213, 206);
}

.galeria__imagenes {
    font-family: CabinetGrotesk-Variable;
    text-align: center;
    font-size: 15px;
    margin: 10px;
    
    img {
        width: 50%;
        height: auto;
    }
    h1 {
        @include titulos;
        margin: 10px;
    }
    h5 {
        @include titulos;
        font-size: 20px;
        
    }
}