.talla {
    font-family: CabinetGrotesk-Variable;
    text-align: center;
    font-weight: bold;
    text-shadow: 3px 3px 3px rgb(252, 213, 206);
}

.tabla {
    font-family: CabinetGrotesk-Variable;
    table-layout: fixed;
    width: 100%;
    border-collapse: separate;
    border-spacing: 5px;
    background: rgb(252,213,206);
    background: radial-gradient(circle, rgba(252,213,206,1) 0%, rgba(255,255,255,1) 50%, rgba(252,213,206,1) 100%);
    margin-top: 30px;
    margin-bottom: 30px;
    
    td,
    th {
        text-shadow: 3px 3px 3px rgb(252, 213, 206);
        text-align: center;
        background: #fff;
        color: #000;
        padding: 20px;
    }
    th {
        font-size: 15px;
        font-weight: bold;
    }
    td {
        font-size: 15px;
        flex-wrap: wrap;
    }
}