.galeria__imagenes {
  font-family: CabinetGrotesk-Variable;
  text-align: center;
  font-size: 15px;
  margin: 10px; }
  .galeria__imagenes img {
    width: 50%;
    height: auto; }
  .galeria__imagenes h1 {
    text-align: center;
    font-weight: bold;
    text-shadow: 3px 3px 3px #fcd5ce;
    margin: 10px; }
  .galeria__imagenes h5 {
    text-align: center;
    font-weight: bold;
    text-shadow: 3px 3px 3px #fcd5ce;
    font-size: 20px; }

@keyframes slide {
  from {
    margin-left: 100%;
    width: 300%; }
  to {
    margin-left: 0%;
    width: 100%; } }

.nosotros {
  margin: 10px;
  font-family: CabinetGrotesk-Variable;
  display: flex; }
  .nosotros .nosotros__texto {
    justify-self: center;
    align-self: center;
    text-align: center;
    font-family: CabinetGrotesk-Variable;
    font-size: 25px;
    overflow: hidden;
    /* ANIMACION */
    animation-duration: 3s;
    animation-name: slide; }

.nosotros__textoDos {
  justify-self: center;
  align-self: center;
  text-align: center;
  font-family: CabinetGrotesk-Variable;
  margin: 10px;
  font-size: 30px;
  /* ANIMACION */
  animation-duration: 3s;
  animation-name: slide; }

body {
  height: 100%;
  font-family: CabinetGrotesk-Variable; }

.contacto {
  text-align: center;
  width: 460px;
  height: auto;
  margin: 80px auto;
  border-radius: 10px;
  padding-top: 30px;
  padding-bottom: 20px;
  padding-left: 30px;
  background-color: #fcd5ce; }

input {
  width: 408px;
  height: 40px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  margin-top: 10px;
  padding-left: 10px;
  margin-bottom: 20px; }

textarea {
  background-color: #fbfbfb;
  width: 405px;
  height: 150px;
  border-style: solid;
  border-width: 1px;
  margin-top: 10px;
  padding-left: 10px;
  margin-bottom: 20px;
  padding-top: 15px; }

label {
  margin-top: 20px;
  display: block;
  float: center; }

button {
  height: 45px;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 20px;
  margin-top: 10px;
  background-color: #fcd5ce;
  border-color: white;
  border-style: solid;
  border-radius: 10px;
  width: 420px;
  cursor: pointer; }
  button button p {
    color: #fff; }
  button h1 {
    font-size: 50px;
    text-align: letf;
    padding-bottom: 20px;
    color: black; }
  button h3 {
    font-size: 16px;
    padding-bottom: 30px;
    color: #0e0e0e; }
  button p {
    font-size: 14px;
    color: #0e0e0e; }

* {
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%; }

@font-face {
  font-family: 'CabinetGrotesk-Variable';
  src: url("../fonts/CabinetGrotesk-Variable.woff2") format("woff2"), url("../fonts/CabinetGrotesk-Variable.woff") format("woff"), url("../fonts/CabinetGrotesk-Variable.ttf") format("truetype"); }

.header__menu {
  font-family: CabinetGrotesk-Variable;
  background: #fcd5ce;
  background: linear-gradient(0deg, #fcd5ce 0%, white 0%, white 42%, #fcd5ce 100%);
  height: 80px;
  width: 100%; }
  .header__menu label img {
    width: 100px;
    height: auto; }

.header nav ul {
  float: right;
  margin-top: 25px; }

.header nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px; }

.header nav ul li a {
  color: black;
  font-size: 17px;
  text-transform: uppercase;
  padding: 7px 13px;
  text-decoration: none; }
  .header nav ul li a:hover {
    color: white; }

.checkbtn {
  font-size: 30px;
  color: black;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none; }

#check {
  display: none; }

@media (max-width: 952px) {
  label.logo {
    padding-left: 30px; }
  nav ul li a {
    font-size: 16px; } }

@media (max-width: 858px) {
  .checkbtn {
    display: block; }
  nav ul {
    position: fixed;
    width: 100%;
    height: auto;
    background: rgba(252, 213, 206, 0.9);
    top: 80px;
    left: -100%;
    text-align: center; }
    nav ul li {
      display: block;
      margin: 50px;
      line-height: 30px; }
      nav ul li a {
        font-size: 20px; }
        nav ul li a:hover {
          color: white; }
  #check:checked ~ ul {
    left: 0; } }

.carousel-item {
  height: 65vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
  .carousel-item .card-columns .card {
    display: inline-block;
    width: 100%; }
  .carousel-item .card-img-top {
    width: 100%;
    height: 200px;
    border-top-right-radius: calc(0.25rem - 1px); }

.contenido {
  text-align: center;
  font-family: CabinetGrotesk-Variable;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: .4fr 1fr 1fr;
  grid-template-areas: "video" "mujer" "hombre"; }
  .contenido a {
    color: black;
    font-family: CabinetGrotesk-Variable;
    text-decoration: none; }
  .contenido h3 {
    font-weight: bold;
    font-size: 30px;
    padding: 10px 0px;
    text-shadow: 3px 3px 3px #fcd5ce; }
  .contenido .contenido__video {
    background-color: rgba(252, 213, 206, 0.575);
    grid-area: video;
    margin: 10px; }
  .contenido .btn {
    box-shadow: 3px 3px 3px #fcd5ce;
    margin: 10px;
    width: 100px;
    height: 35px;
    font-size: 20px; }
    .contenido .btn a {
      font-size: 20px; }
  .contenido contenido__hombres {
    margin: 10px;
    font-size: 20px; }
    .contenido contenido__hombres li {
      display: inline; }
  .contenido contenido__mujeres {
    margin: 10px;
    font-size: 20px; }
    .contenido contenido__mujeres li {
      display: inline; }
  .contenido .contenido contenido__hombres {
    margin: 10px;
    background-color: rgba(252, 213, 206, 0.671);
    grid-area: hombre; }
  .contenido .contenido contenido__mujeres {
    margin: 10px;
    background-color: rgba(252, 213, 206, 0.671);
    grid-area: mujer; }

.piePagina {
  width: 100%;
  background: white;
  background: linear-gradient(180deg, white 0%, #fcd5ce 100%);
  font-family: CabinetGrotesk-Variable; }

.piePagina__logo {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  padding: 45px 0px; }
  .piePagina__logo .box figure {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }
    .piePagina__logo .box figure img {
      width: 250px; }
    .piePagina__logo .box figure h2 {
      color: #fff;
      margin-bottom: 25px;
      font-size: 20px; }
    .piePagina__logo .box figure p {
      color: #efefef;
      margin-bottom: 10px; }

.piePagina__redes a {
  display: inline-block;
  text-decoration: none;
  width: 45px;
  height: 45px;
  line-height: 45px;
  color: #fff;
  margin-right: 10px;
  background-color: black;
  text-align: center; }
  .piePagina__redes a:hover {
    color: white; }

.piePagina__menu {
  list-style: none; }
  .piePagina__menu li a {
    color: black;
    text-decoration: none;
    font-size: 20px; }
    .piePagina__menu li a:hover {
      color: white; }
